<% include partials/_header %>

<section id="content">

    <div class="content-wrap pt-5 pb-0">

        <div class="container clearfix">        

            <div class="single-post nobottommargin">

                <!-- Single Post
                ============================================= -->
                <div class="entry clearfix">

                    <!-- Entry Title
                    ============================================= -->
                    <div class="entry-title">
                        <h2><span><%= article.Title %></span></h2>
                    </div><!-- .entry-title end -->

                    <!-- Entry Meta
                    ============================================= -->
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i><%= article.createdAt.toLocaleDateString("en-US", {month:"short", day:"numeric", year:"numeric"}) %></li>                        
                    </ul><!-- .entry-meta end -->

                    <!-- Entry Content
                    ============================================= -->
                    <div class="entry-content notopmargin">

                        <!-- Entry Image
                        ============================================= -->
                        <div class="entry-image alignleft">
                            <img src="<%= article.Image.secure_url %>" alt="article image">
                        </div><!-- .entry-image end -->
                        
                        <div class="article-content">                        
                            <%- article.Content %>
                        </div>

                        <!-- Post Single - Share
                        ============================================= -->
                        <div class="si-share clearfix">
                            <span>Share this Post:</span>                            
                            <div>
                                <a id="shareBtn" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://twitter.com/intent/tweet?text=<%= article.Title %>&url=https://codeslo.herokuapp.com/article/<%= article.slug %>" class="twitter-share-button social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>                                
                                <a href="mailto:?subject=<%= article.Title %>&amp;body=Check this out: https://codeslo.herokuapp.com/article/<%= article.slug %>" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>                               
                            </div>
                        </div><!-- Post Single - Share End -->                      

                    </div>
                </div><!-- .entry end -->                
               
               <!-- Contact -->				
				<div class="promo promo-light pt-5 pb-5 bottommargin">
						<h3> Questions? Comments? Email us today at <span><a href="" data-toggle="modal" data-target="#modalContactForm">info@codeslo.com</a></span></h3>
						<span>We'd love to hear from you!</span>
						<a href="" class="button button-xlarge button-theme button-rounded" data-toggle="modal" data-target="#modalContactForm">Contact CodeSLO</a>
				</div>

                <!-- Contact modal -->
                <%- include partials/_contactModal %>
                <!-- Contact modal end -->

            </div><!-- single post no bottom margin end -->

        </div><!-- .container clearfix end -->

    </div><!-- .content wrap end -->

</section><!-- #content end -->
        
<!-- Footer
============================================= -->
<footer id="footer" class="dark">
    <% include partials/_footer %>
</footer><!-- #footer end -->

<% include partials/_scripts %>

</body>
</html>

